<h3>Tasks</h3>
<% if @list.tasks().any?() %>
  <h3>Here are all the tasks in this list with their due dates:</h3>

  <ol>
    <% @list.tasks().each() do |task| %>
      <li><%= task.description() %></li>
    <% end %>

  </ol>
<% else %>
  <p>There are no tasks yet!</p>
<% end %>

<p><a href="/lists/<%= @list.id() %>/edit">Edit <%= @list.name() %> list</a></p>
<p><a href="/">Return to Main Page</a></p>
